:root {
	--main-color: #041C3B;
	--main-px: 8px;
}

* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

textarea {
	resize: vertical;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

input[type='file'] {
	max-width: 100%;
}

body {
    font-family: "IBM Plex Mono", sans-serif;
    font-size: 32px;
	color: #F8FAFC;
}

.container {
	margin: 0 auto;
	padding: 0 auto;
	max-width: 1600px;
}

.header {
	padding: 30px 0;
	background-color: var(--main-color);
}

.header .container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 15px;
	border-bottom: 2px #F8FAFC solid;
}

.logo {
	font-size: calc(var(--main-px) * 6);
}

.nav-list {
	display: flex;
	gap: 40px;
}
.nav-list-item {
	font-size: calc(var(--main-px) * 5);
}

.nav-link {
	color: #F8FAFC;
}

.reg-form {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.welcome {
	padding-top: 60px;
	background-color: var(--main-color);
	height: 86vh;
	margin-bottom: 120px;
}

.welcome .container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.welcome-title {
	font-size: calc(var(--main-px) * 8);
	max-width: 1160px;
	text-align: center;
	margin-bottom: 40px;
}

.welcome-description {
	font-size: calc(var(--main-px)*5);
	margin-bottom: 40px;
}

.button-container {
	display: flex;
	gap: 60px;
	margin-bottom: 40px;
}

.button-container-item {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 36px;
	width: 400px;
	padding: 25px 60px;
	border: 1px solid #ffffff;
	border-radius: 30px;
	color: #F8FAFC;
}

.welcome-consultation {
	background-color: #0E3466;
	border: none;
}


.welcome-info {
	display: flex;
	gap: 80px;
	justify-content: center;
	align-items: center;
}

.info-block {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 40px;
	background: rgba(255, 255, 255, 0.2);
	width: 400px;
	height: 300px;
	border-radius: 30px;
	border: 2px solid #ffffff;
}

.info-description {
	font-size: calc(var(--main-px)*4);
	max-width: 260px;
	text-align: center;
}

.bottom-line {
	position: absolute;
	top: 36.9%;
	opacity: 0.4;
}

.top-line {
	position: absolute;
	top: 0%;
	right: 0%;
	opacity: 0.4;
}

.consultation .container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.consultation-right-side {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(11, 33, 64, 0.8);
	border: 2px solid #0B2140;
	border-radius: 30px;
}

.consultation-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;
	padding: 50px;
}

.consultation-title {
	font-size: calc(var(--main-px)*6);
}

.consultation-form-group {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

}

.consultation-form-input {
	width: 465px;
	height: 50px;
	background-color: #F8FAFC;
	border-radius: 8px;
	color: #000;
}

.submit-btn {
	padding: 20px 50px;
	border: 2px solid #ffffff;
	border-radius: 30px;
}